version: "3.8"

#Setting MariaDB in Container
services:
  mariadb:
    image: mariadb:11
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: springai
      MARIADB_USER: root
      MARIADB_PASSWORD: root1234
    ports:
      - "3308:3308"
    volumes:
      - mariadb-data:/var/lib/mysql

volumes:
  mariadb-data: